# Compiled class files
*.class

# Build folders
/out/
/build/
/target/
/bin/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/

# Eclipse files
.classpath
.project
.settings/

# Maven
target/

# Gradle
.gradle/
build/

# JavaFX runtime
/javafx-sdk*/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db